{% extends "base_generic.html" %}

{% block content %}
  <h1>Todas las capas registradas</h1>

  <p></p>
  {% if service_list %}
    {% for serv in service_list  %}
        <h4><a href="{{ serv.get_absolute_url }}">{{ serv.short}}</a> --- {{serv.name}} --- Organización: {{ serv.org.short}}</h4>
        {% for layer in serv.get_layer_list %}
        <li>
          <strong>{{ layer.name }}</strong> --- {{ layer.title }}
          <p><i>Resumen:</i> {{ layer.abstract }}</p>
          <p><i>Límites geográficos:</i> {{ layer.boundingBoxWGS84 }} </p>
        </li>
        {% endfor %}
    {% endfor %}
  {% else %}
    <p>No existen servicios registrados con capas en este momento.</p>
  {% endif %}       
{% endblock %}